<h3><center>Week 1 - Assignment </center></h3>
<h4><center>Jyoya Karki</center></h4>
<h4><center>Presidential Graduate School</center></h4>
<h4><center>PRG 330: Python Programming with Data</center></h4>
<h4><center>Prof. Tek Raj Pant </center></h4>
<h4><center>October 27, 2024</center></h4>

First Program (This is my first hello world program in python)

In [1]:
hello = "hello world"
print(hello)

hello world

Python Numbers

In [2]:
#int 
pi = 3.14  
age = 30 
#float 
price = 10.5 
#imaginary 
real_imaginary = 1j
print(real_imaginary)
print(pi)
print(age)
print(type(pi))

1j
3.14
30
<class 'float'>

Arithmatic Operations

In [3]:
a = 5 
b = 10 
sum_of_ab = a+b 
diff_of_ab = a-b 
product_of_ab = a*b 
div_of_ab = a/b 
rem_a_b = a%b 
total_ram_size = a**b 
Divide_w_floor = a // b
print(sum_of_ab)
print(diff_of_ab)
print(product_of_ab)
print(div_of_ab)
print(rem_a_b)
print(total_ram_size)
print(Divide_w_floor)

15
-5
50
0.5
5
9765625
0

String

In [4]:
name = "Jyoya Karki"
print (name)
total_no_of_chars = len(name)
print(total_no_of_chars)

Jyoya Karki
11

In [6]:
name = "Susmaan raj shrestha "
first_name = name[:7]
middle_name = name[8:11]
last_name = name [12:20]
print(first_name, middle_name, last_name)

Susmaan raj shrestha

Conditional Statement

In [1]:
day = int(input("Enter day"))
if day == 4:
    print("I have to wake up at 5AM")
    print("I have to go to Office")
    print("Its Wednesday")
if day == 5:
    print("Its Holiday")
print('test')

Its Holiday
test

In [4]:
day = int(input("Enter day"))
if day == 4:
    print("I have to wake up at 5AM")
    print("I have to go to Office")
    print("Its Wednesday")
elif day == 5:
    print("Its Holiday")
else:
    print('test')

test

In [6]:
number=int(input("Enter a number"))
if number %2 == 0:
    print("Its an even number")
else:
    print ("Its not an even number")

Its not an even number

In [7]:
time=int(input("Enter time"))
if time >= 10 and time<12:
    print("its time for Python")
elif time >=12 and time<14:
    print("its DSA class")
elif time >=14 and time<16:
    print("its English class")
else:
    print("Getting ready")

its DSA class

In [15]:
country = "Nepal"
if country == "Nepal" or country == "India":
    print("ticket for cablecar is Rs 50")
else:
    print("ticket for cablecar is Rs 150")

ticket for cablecar is Rs 50

In [17]:
country= input("Enter your country")
if country.lower() == "nepal" or country.lower() == "India":
    print("ticket for cablecar is Rs 50")
else:
    print("ticket for cablecar is Rs 150")

ticket for cablecar is Rs 50

While loop

In [18]:
from time import sleep 
counter = 0
while counter<10:
    print("Hello" + str(counter))
    counter +=1
    sleep(1)

Hello0
Hello1
Hello2
Hello3
Hello4
Hello5
Hello6
Hello7
Hello8
Hello9

In [21]:
from time import sleep 
counter = 10
while counter>0:
    print("Hello" + str(counter))
    counter -=1
    sleep(1)

Hello10
Hello9
Hello8
Hello7
Hello6
Hello5
Hello4
Hello3
Hello2
Hello1

FINDING SUM OF FIRST N EVEN NUMBERS

In [26]:
n=100
counter = 1
sum = 0
while counter<=n :
    if counter%2 ==0:
        sum += counter
    counter+=1

print(sum)

2550

In [1]:
address= "Kathmandu Nepal"
length = len(address)-1 
reversed_string =''
print(length)
while length>=0:
    reversed_string +=address[length]
    length -=1
print(reversed_string)

14
lapeN udnamhtaK

list is ordered collection of items

In [2]:
numbers =[1,2,3,4,5,6]
students = ['Ram','Hari']

first_number= numbers[0]
print(first_number)

total_items = len(numbers)
print(total_items)

last_element = numbers[total_items-1]
print(last_element)

1
6
6

list append

In [9]:
numbers = [1,4,5,7,8,9,8,9]
print(numbers)

numbers.append(8)
print(numbers)

numbers.pop()
print(numbers)

numbers.remove(5)
print(numbers)

numbers.insert(2,10)

print(numbers.count(1))

[1, 4, 5, 7, 8, 9, 8, 9]
[1, 4, 5, 7, 8, 9, 8, 9, 8]
[1, 4, 5, 7, 8, 9, 8, 9]
[1, 4, 7, 8, 9, 8, 9]
1

In [10]:
a = ['Ram','Hari']
b = a 
b = a.copy()
a.append('Gopal')
print(b)
if 'Ram' in a:
    print("Ram exists in a")

['Ram', 'Hari']
Ram exists in a

In [11]:
numbers = [1,2,3,4,5,6,6]

total_items = len(numbers)
index = 0
sum = 0
while index<total_items:
    sum += numbers[index]
    index+=1

print(sum)

27

In [14]:
numbers = [1,2,3,4,5,6,6]

total_items = len(numbers)
index = 0
sum = 0
while index<total_items:
    element = numbers[index]
    sum += element
    print(element)
    index+=1

print(sum)

1
2
3
4
5
6
6
27

In [15]:
numbers = [1,2,3,4,5,6,6]

total_items = len(numbers)
index = 0
max_value = numbers[0]

while index<total_items:
    element = numbers[index]
    if element > max_value:
        max_value = element 
    index+=1

print(max_value)

6

filter values

In [17]:
students =['Ram','Sita','Hari','Gopal']
filtered_students = [ i for i in students if i !='Ram']
print(filtered_students)

['Sita', 'Hari', 'Gopal']